{% extends "layout.html" %}
{% block body %}
    <div class="form-div flex flex-col items-center justify-center mt-7">
        <form class="form" method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-field w-[600px] h-[350px] p-4 rounded-xl">
               <legend class="text-3xl font-bold">Sign in</legend>
                {{ form.email.label }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="my-3">
                            {{ form.email(class="bg-gray-200 border border-gray-300 px-4 py-2 w-full rounded-xl") }}
                        </div>
                        <div>
                            <span class="text-red-600">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="my-3">
                        {{ form.email(class="bg-gray-200 border border-gray-300 px-4 py-2 w-full rounded-xl") }}
                    </div>
                {% endif %}

                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="my-3">
                            {{ form.password(class="bg-gray-200 border border-gray-300 px-4 py-2 w-full rounded-xl") }}
                        </div>
                        <div>
                            <span class="text-red-600">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="my-3">
                        {{ form.password(class="bg-gray-200 border border-gray-300 px-4 py-2 w-full rounded-xl") }}
                    </div>
                {% endif %}
                <div class="flex gap-2 my-3">
                    <div>
                        {{ form.remember }}
                    </div>
                    <span>
                        {{ form.remember.label }}
                    </span>
                </div>
                
                <div>
                    {{ form.submit(class="bg-blue-700 text-white font-bold p-[7px] w-[150px] rounded-[7px]") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}