{% extends "layout.html" %}
{% block body %}
    <div class="flex flex-col items-center justify-center mt-7">
        <form method="post" action="{{ url_for('update_reply',post_id=post.id, reply_id=reply.id) }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-field w-[600px] p-4 rounded-xl">
               <legend class="text-3xl font-bold">Update your reply</legend>
                {{ form.content.label }}
                {% if form.content.errors %}
                    {% for error in form.content.errors %}
                        <div class="my-3">
                            {{ form.content(class="bg-gray-200 border border-gray-300 px-4 py-2  w-full rounded-xl") }}
                        </div>
                        <div>
                            <span class="text-red-600">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="my-3">
                        {{ form.content(class="bg-gray-200 border border-gray-300 px-4 py-2 w-full rounded-xl") }}
                    </div>
                {% endif %}
                <div class="flex items-center gap-4">
                    <div>
                        {{ form.submit(class="bg-blue-700 text-white font-bold p-[7px] w-[150px] rounded-[7px]") }}
                    </div>
                    <a href="{{ url_for('view_post', post_id=post.id, username=post.user.username) }}">
                        <button class="bg-blue-700 text-white font-bold p-[7px] w-[150px] rounded-[7px]" type="button">Cancel</button>
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}